<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>СПИСОК СТРАН</title>
</head>
<body>
    <h1>Страны</h1>

    {%for letter in letters%}
        <a href="/country-list-letter/{{letter}}">{{ letter }}</a>
    {%endfor%}

    <ol>
        {%for country in page_obj%}
            <li><a href="/country-page/{{country}}">{{ country }}</a></li>
        {%endfor%}
    </ol>

    {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}

    <h1>
    <a href="/">Главная страница</a>
    </h1>
</body>
</html>